@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-thumb {
    background:#FA7559;;
    border-radius: 20px;
    box-shadow: inherit;
}

*::-webkit-scrollbar-track {
    background: rgb(188, 188, 188);
}

body {
    height: 100vh;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal {
    /* white-space: pre-wrap;
    word-break: break-all;  */
    max-width: 40%;
    margin: auto;
    border-radius: 20px;
    font-size: 20px;
    padding: 3em;
}



#modal::backdrop {
    background-color: rgba(0,0,0,0.55);
}

#cerrar-modal {
    margin-top: 20px;
    border: 0px;
    height: 30px;
    width: 80px;
    border-radius: 10px;
    background-color: #FA7559;
    color: white;
}

* {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container {
    display: flex;
    flex-direction: column;
    height:100vh;
    border-radius: 10px;
    box-shadow: 2px 2px 20px rgba(0,0,0,0.4);
    width: 40%;
    margin: auto;
    background-color: #faf9ed;
}

.nav {
    background-color: #FA7559;
    color: whitesmoke;
    height: 80px;
    width: 100%; 
    padding: 20px; 
    /* font-size: 20px; */
}

#span-nav {
    color: black;
    font-size: 1.03em;
}

.nav-logo {
    font-size: 1.5em;
    font-weight: 900;
}


.nav-menu {
    display: grid;
    grid-auto-flow: column;
    gap: 3em;
}

.nav-item {
    color: white;
    text-align: left;
    border: 0px;
    font-size: 16px;
    text-decoration: none;  
    background-color: #FA7559;
    font-weight: bold;
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.nav-item::after {
    content: "";
    display: block;
    background: black;;
    width: 100%;
    margin-top: 3px;
    height: 3px;
    clip-path: var(--clippy);
    transition: clip-path .3s;
}

.nav-item:hover {
    --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.nav-label, .nav-input {
    display: none;
}
.nav-container {
    display: flex;
    height: 100%; 
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}


a {
    text-decoration: none;
    color: white;
}


#respuestas {
    overflow: auto;
    flex: 1;
}

.mensajes-usuario {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #555;
    align-items: center;
    white-space: pre-wrap;
    word-break: break-all; 
}

.mensajes-bot {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #555;
    padding-bottom: 20px;
    background-color: white;
    white-space: pre-wrap;
    word-break: break-all; 
}

.chat-area {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: rgb(209, 209, 209);
    padding-bottom: 10px;
    padding-top: 10px;
    box-shadow: 2px 2px 20px rgb(0 0 0 / 40%);
    position: inherit;
    flex-shrink: 0;
}
.chat-area input {
    display: block;
    flex: 1;
    border-radius: 10px;
    margin: 5px;
    height: 100%;
    outline: none;
    font-size: 19px;
    border: 2px solid #ccc; 
    color: #555;
    background-color: white;
}

.chat-area button {
    border: 0px;
    height: 100%;
    width: 10%;
    margin-right: 5px;
    margin-left: 1px;
    border-radius: 10px;
    background-color: #FA7559;
    color: white;
}
.chat-area button:hover {
    background-color: #000;
    transition: 0.5s ease;
}

#span-bot {
    color: white;
    margin: 15px;
    background-color: #000;
}

#span-usuario {
    color: white;
    margin: 15px;
    background-color:  #FA7559;
}

.span-code {
    color: white;
    background-color: rgb(60, 60, 60);
    font-family: monospace, monospace;
}


/* RESPONSIVE DESING */

@media (max-width: 1700px) {
    #container {
        width: 60%;
    }
    #modal {
        max-width: 60%;
    }
}


@media (max-width: 1020px) {
    .nav-label {
        display: block;
        cursor: pointer;
    }

    .nav-item {
        font-size: 20px;
        background-color: #000;
        font-weight: normal;
    }
    .nav-item::after {
        background-color: #FA7559;
    }
    .nav-menu {
        position: fixed;
        top: 80px;
        bottom: 0;
        background: black;
        width: 100%;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        clip-path: circle(0 at 100% 0);
        transition: clip-path 0.5s ease-in-out;
    }

    .nav-input:checked + .nav-menu {
        
        clip-path: circle(141.4% at 100% 0);
    }
    #modal {
        max-width: 90%;
    }

}


@media (max-width: 850px) {
    #container {
        width: 80%;
    }
}

@media (max-width: 500px) {
    * {
        font-size: 15px;
    }

    *::-webkit-scrollbar {
        width: 5px;
    }

    header {
        font-size: 20px;
        padding: 10px;
    }

    #container {
        width: 100%;
    }

}



/* PARA TELEFONOS EN HORIZONTAL */
@media (max-height: 450px) {
    * {
        font-size: 15px;
    }
    
    #container {
        width: 100%;
    }

}